#version=RHEL8

# Use graphical install
text

# Create new user
user --name=deepak --shell=/bin/bash --homedir=/home/deepak  --iscrypted --password=$6$uSejt/TeWMJVQ/F8$/oFsIanDHS/5b9ssy7gZbQwNkORgRjsQIw4JyFjlTWDh9TVsEXWEy2APpCUNTHipOOEe..ubg3qBZOwpaPtsB.

# Create new repo
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

# Use NFS server for installation
#nfs --server=10.10.10.12 --dir=/images/

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --noipv6 --activate
#network  --bootproto=dhcp --device=eth1 --onboot=off --noipv6 --activate
network  --hostname=centos8-4.example.com

# Root password
rootpw --iscrypted $6$w7El/FYx9mbTG6x9$Te.Yg6dq0TsQwGpdSjeDGSw4J9ZBAkLXzT9ODMV7I7lHvX3n5.9PCS4jIkS2GbVLZOpVRLvrua3wwbwA.cfWX.

# Run the Setup Agent on first boot
firstboot --enable

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"

# System timezone
timezone Asia/Kolkata --isUtc

# Reboot the node post installation
reboot

# Partition clearing information
clearpart --all
#ignoredisk --only-use=sda
ignoredisk --drives=sda,sdc,nvme0n1

# Disk partitioning information
part pv.409 --fstype="lvmpv"  --size=14847
part /boot --fstype="ext4"  --size=512
volgroup rhel --pesize=4096 pv.409
logvol swap --fstype="swap" --size=953 --name=swap --vgname=rhel
logvol / --fstype="ext4" --size=13887 --name=root --vgname=rhel
#part pv.409 --fstype="lvmpv" --ondisk=sda --size=14847
#part /boot --fstype="ext4" --ondisk=sda --size=512
#volgroup rhel --pesize=4096 pv.409
#logvol swap --fstype="swap" --size=953 --name=swap --vgname=rhel
#logvol / --fstype="ext4" --size=13887 --name=root --vgname=rhel

# List of packages to be installed
%packages
@Virtualization Host
kexec-tools

%end

# Add on
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# Password Policy
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
