ssh_authorized_keys:
- ssh-rsa Key goes here
write_files:
- path: /var/lib/connman/default.config
  encoding: ""
  owner: root
  permissions: '0755'
  content: |-
    [service_eth]
    Type = ethernet
    IPv4 = off
    IPv6 = off

    [service_bond0]
    Type = ethernet
    DeviceName = bond0
    IPv4 = 192.168.0.242/255.255.255.0/192.168.0.1
    IPv6 = off
    Nameservers = 8.8.8.8,8.8.4.4
    Timeservers = 0.us.pool.ntp.org,1.us.pool.ntp.org
    Domain = cc.com
    SearchDomains = cc.com
run_cmd:
- ifenslave bond0 eth0
- ifenslave bond0 eth1
- ifenslave bond0 eth2
- ifenslave bond0 eth3
- ifconfig bond0 up
- sleep 5
- service connman restart
hostname: hostname.cc.com
k3os:
  data_sources:
  - aws
  - cdrom
  modules:
  - kvm
  - nvme
  - bonding mode=802.3ad miimon-100 lacp_rate=fast
  password: password goes here
  server_url: https://hostname.cc.com:6443
  token: token goes here
  labels:
    region: ccc-lab
  k3s_args:
  - server
  - "--disable"
  - "traefik"
  - "--disable"
  - " servicelb"
  - "--node-name"
  - "hostname"
