ssh_authorized_keys:
- ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCcFducWcJW4kh7E20FXSTG13OXK/NoxtSC1FdBy3etWDmkbZmTC+S2JkZ4f1ivCK08bXA7B6nue83Bk5iryXeNsoQn+UpIb4y9DOzFU9IaEtz09IvfM70fzrn4Lob6jrLHd/qTU3kW55RPCpvA3M3PlyynpXlAFKst3vKWKgR6bXpN/zk11CIZfZALKP4zz7x785f0oeVfta6iTPoSxVokTTh4wohBkuHWNjW7ihzA4Uvv40y+NsROwhjOBv/ZSxQ4jz8irFp8bXDE8dt0NAGZotpMzBjXRF4ggP6hvbEZRy76ehimAdgJQKzDHukHUsqxpuaejch4DlAtVxRZu375 liottar@mbp.logistics.corp
# - github:rsliotta
write_files:
- path: /var/lib/connman/default.config
  encoding: ""
  owner: root
  permissions: '0755'
  content: |-
    [service_eno1]
    Type=ethernet
    IPv4=192.168.1.241/255.255.255.0/192.168.1.1
    IPv6=off
    Nameservers=8.8.8.8,8.8.4.4
hostname: moscow.rsliotta.com
k3os:
  data_sources:
  - aws
  - cdrom
  modules:
  - kvm
  - nvme
  sysctl:
    kernel.printk: "4 4 1 7"
    kernel.kptr_restrict: "1"
  dns_nameservers:
  - 8.8.8.8
  - 1.1.1.1
  ntp_servers:
  - 0.us.pool.ntp.org
  - 1.us.pool.ntp.org
  #wifi:
  #- name: home
  #  passphrase: mypassword
  #- name: nothome
  #  passphrase: somethingelse
  password: rancher
  server_url: https://miami.rsliotta.com:6443
  token: edc64c6523778961fe9ba03ab7d624b27ca1dd5b01e7734cc6c891d50db04269
  labels:
    region: evil-lab
    somekey: cities
  k3s_args:
  - server
  - "--disable"
  - "traefik"
  - "--disable"
  - " servicelb"
  - "--node-name"
  - "moscow"
  #environment:
  #  http_proxy: http://myserver
  #  https_proxy: http://myserver
  #taints:
  #- key1=value1:NoSchedule
  #- key1=value1:NoExecute
